SincornizarPago V2/ServivioWinTasaCambio/Service References/wsPagoDGI/WsTramitesInstitucionLinea3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wstramiteslinea.dgi.gob.ni/WsTramitesInstitucionLinea.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entity" />
  <xs:element name="listCatalogos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listCatalogosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="listCatalogosResult" nillable="true" type="q1:ArrayOfDetalleCatalogoInstitucion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listPagos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
        <xs:element minOccurs="0" name="usr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listPagosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="listPagosResult" nillable="true" type="q2:ArrayOfPagos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listPagosServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechainicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechafinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="codigoservicio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoimpuesto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listPagosServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="listPagosServicioResult" nillable="true" type="q3:ArrayOfPagos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pagoServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sif" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pagoServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="pagoServicioResult" nillable="true" type="q4:Pagos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listAnuladosPagos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
        <xs:element minOccurs="0" name="usr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listAnuladosPagosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="listAnuladosPagosResult" nillable="true" type="q5:ArrayOfPagos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listPagosDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nodocumento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listPagosDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="listPagosDocumentoResult" nillable="true" type="q6:ArrayOfPagos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>